body{
    font-family: "Rubik", sans-serif;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(
      0deg,
      black,
      1px,
      white 1px,
      white
    );
    background-size: 100% 30px;
    background-color: white;
}
.title{
    display: flex;
    justify-content: center;
    font-size: 3vw;
    background-color: white;
}
h1{
    color: transparent;
    z-index: 2;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}
.sec1{
    display: flex;
    justify-content: center;
    padding: 5vw 0;
}
.container{
    width: 20vw;
    display: flex;
    padding: 2vw;
    flex-direction: column;
    border-radius: 2vh;
    background-color: #fff;
    border: .1px solid black;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.input {
    text-align: center;
    font-size: 0.9rem;
    background-color: rgba(128, 128, 128, 0.429);
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
  
.input:focus {
    outline: none;
}
  
  .input:focus + .input-border {
    width: 100%;
  }
  
.form-control {
    position: relative;
    --width-of-input: 300px;
}
  
  .input-alt {
    font-size: 1.2rem;
    padding-inline: 1em;
    padding-block: 0.8em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .input-border-alt {
    height: 3px;
    background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
    transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
  }
  
  .input-alt:focus + .input-border-alt {
    width: 100%;
  }
.barcode{
    display: flex;
    justify-content: center;
    padding: 3vh 0;
}
.barcode svg{
    width: 400px;
    background-color: white;
}
#btn{
    padding-top: 1vh;
    display: flex;
    justify-content: center;
}
button {
    padding: 0.1em 0.25em;
    width: 29em;
    height: 4.2em;
    background-color: #212121;
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 12px;
    cursor: pointer;
  }
  
  button span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 18.25em;
    height: 2.5em;
    background-color: #212121;
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
  }
  
  button span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
  }
  
  button span:not(hover) {
    transition: all 1s;
  }
